CompileFlags:
    Add:
        [
            -Wno-unknown-attributes,
            -Wno-maybe-uninitialized,
            -Wno-unknown-warning-option,
            -Wno-pointer-to-int-cast,
            -Wno-int-to-void-pointer-c,
            -I/usr/lib/avr/include,
            -I/home/killo/qmk_firmware,
            -I/home/killo/qmk_firmware/quantum,
            -I/home/killo/qmk_firmware/tmk_core,
            -I/home/killo/qmk_firmware/drivers/flash,
            -I/home/killo/qmk_firmware/drivers/eeprom,
            -I/home/killo/qmk_firmware/drivers/lcd,
            -I/home/killo/qmk_firmware/drivers/led,
            -I/home/killo/qmk_firmware/drivers/oled,
            -I/home/killo/qmk_firmware/drivers/painter,
            -I/home/killo/qmk_firmware/drivers/gpio,
            -I/home/killo/qmk_firmware/platforms/avr,
            -I/home/killo/qmk_firmware/keyboards/crkbd,
            -I/home/killo/qmk_firmware/keyboards/boardsource,
            -DPROGMEM=,
        ]
    Remove:
        [
            -W*,
            -mmcu=*,
            -mcpu=*,
            -mfpu=*,
            -mfloat-abi=*,
            -mno-unaligned-access,
            -mno-thumb-interwork,
            -mcall-prologues,
            -D__has_include*,
            -mlra,
        ]
    Compiler: clang
Diagnostics:
    UnusedIncludes: None
    Suppress:
        [
            asm_invalid_output_constraint,
            asm_invalid_input_constraint,
            invalid_asm_value_for_constraint,
            anyx86_interrupt_attribute,
        ]
